@model EmployeeCreateViewModel
<!--
    inject IEmployeeRepository _empRepository;
-->

@{
    ViewBag.Title = "Create Employee";
}

<form enctype="multipart/form-data" asp-action="Create" method="post">

    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <input asp-for="Name" placeholder="Name" class="from-control" />
        <span asp-validation-for="Name" class="text-danger"> Enter ur name</span>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <input asp-for="Email" placeholder="Email" class="from-control" />
        <span asp-validation-for="Email" class="text-danger"> Enter ur Email</span>
    </div>
    <div class="form-group row">
        <label asp-for="Department" class="col-sm-2 col-form-label"></label>
        <select asp-for="Department"
                asp-items="Html.GetEnumSelectList<Department>()" class="custom-select mr-sm-2"></select>

        <!--
              <option value="">Select</option>
              <span asp-validation-for="Department" class="text-danger">Select</span>
        -->

    </div>

    <div class="form-group row">
        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <!-- add multiple to let user to select more than one photo -->
                <input multiple asp-for="Photos" class="from-control custom-file-input" />
                <label class="custom-file-label">Chooser File...</label>
            </div>
        </div>

    </div>

    <div asp-validation-summary="All"></div>

    <button class="bg-danger" type="submit">Create</button>

    <!--



        <div class="form-group row">
            <div class="col-sm-10 ">
                Total Employees count = _empRepository.GetEmployees().Count()
            </div>

        </div>
    -->
    <!--
        to view the poto path in the lable after select, we need script code
    -->
    @section Scripts{

        <script>
            $(document).reay(funtion(){

                $('.custom-file-input').on("change", funtion(){
                    var fileLable = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if(files.length > 1){
                fileLable.html(files.length + 'files selected');
            }else if (files.length == 1) {
                fileLable.html(files[0].name)
            }

                                });

                            });
        </script>

    }
</form>